@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');
 {margin: 0 auto;
}

body{
    font-family: 'noto sans','sacs-serif';
}

    html{
        font-size:16px;
    }
.card{
    background-color: gainsboro;
    padding:2rem 2rem;
    text-align: center;
    max-width: 18rem;
   margin: 3rem auto;
    border:5px solid transparent ;
}
.card-1{
    border-color: crimson;
}
.card-2{
    border-color: limegreen;
}
.icon{ 
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin: 0 auto;
}
.card-1 .icon{
    background-color: crimson;
}

.title{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.text{
    line-height: 1.5;
    color: rgb(14, 8, 1);
}
.btn{
    text-transform: capitalize;
    border:transparent;
    border-radius: 0.5rem;
    padding:0.5rem,1rem;
    letter-spacing: 2px;
}
.card-2 .icon{
    background-color: limegreen;
}
.btn-red{
    background-color: rgb(216, 211, 214);
    color: crimson;

}
.btn-yellow{
    background-color: rgb(216, 211, 214);
    color: limegreen;